<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<title>Angular</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script type="text/javascript" src="js/lib/angular.js"></script>
	<script type="text/javascript" src="js/lib/angular-messages.js"></script>
	<script type="text/javascript" src="js/lib/angular-locale.br.js"></script>
	<script type="text/javascript">
		angular.module("listaTelefonica",["ngMessages"]);

		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope, uppercaseFilter){
			$scope.app = "Lista telefonica";
			$scope.contatos = [
			{
				nome: uppercaseFilter("One"),
				telefone: "(xx) 9999-9999",
				cor: "blue",
				data: new Date(),
				operadora : {
					nome: "OI",
					codigo: "31",
					categoria: "fixo"
				}
			},
			{
				nome: "Two",
				telefone: "(xx) 8888-8888",
				cor: "yellow",
				data: new Date(),
				operadora : {
					nome: "OI",
					codigo: "31",
					categoria: "fixo"
				}
			},
			{
				nome: "Three",
				telefone: "(xx) 7777-7777",
				cor: "pink",
				data: new Date(),
				operadora : {
					nome: "OI",
					codigo: "31",
					categoria: "fixo"
				}
			}
			];
			$scope.operadoras = [
			{
				nome: "OI",
				categoria: "celular",
				codigo: 31,
				preco: 1
			},
			{
				nome: "TIM",
				categoria: "celular",
				codigo: 41,
				preco: 2
			},
			{
				nome: "VIVO",
				categoria: "celular",
				codigo: 15,
				preco: 3
			},
			{
				nome: "GVT",
				categoria: "fixo",
				codigo: 25,
				preco: 10
			},
			{
				nome: "VIVO",
				categoria: "fixo",
				codigo: 31,
				preco: 7
			}
			]
			$scope.addContact = function ( contato ){
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
				$scope.contatoForm.$setPristine();
			};
			$scope.apagarContact = function ( contatos ){
				$scope.contatos = contatos.filter(function(contato){
					if (!contato.selecionado) return contato;
				});
			};
			$scope.isContatoSelecionado = function ( contatos ){

				return contatos.some(function ( contato ){
					return contato.selecionado;
				});
			};
			$scope.ordenarPor = function ( campo ){
				$scope.criterioDeOrdenacao = campo;
				$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
			};
		});


</script>
</head>
<body>
	<div ng-controller="listaTelefonicaCtrl" class="jumbotron">
		<h3>
			{{app}}
		</h3>
		<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?">
		<table class="table" ng-show="contatos.length > 0">
			<tr>
				<th></th>
				<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th><a href="" ng-click="ordenarPor('operadora')">Operadora</a></th>
				<th><a href="" ng-click="ordenarPor('data')">Data</a></th>
			</tr>
			<tr ng-repeat="myarray in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao" ng-class="{'selecionado negrito': myarray.selecionado}">
				<td><input type="checkbox" ng-model="myarray.selecionado" /></td>
				<td>{{myarray.nome}}</td>
				<td>{{myarray.telefone}}</td>
				<td>{{myarray.operadora.nome | lowercase }}</td>
				<td>{{myarray.data | date:'dd/MM/yyyy HH:mm'}}</td>
			</tr>
		</table>
		<hr>
		<form name="contatoForm">
			<input class="form-control" type="text" name="nome" id="nome" placeholder="nome" ng-model="contato.nome" ng-required="true" ng-minlength="10">
			<input class="form-control" type="text" name="telefone" id="telefone" placeholder="telefone" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + ( operadora.preco | currency ) + ' )' group by operadora.categoria for operadora in operadoras | orderBy:'nome'" ng-required="true">
				<option value="">Selecione a operadora</option>
			</select>
		</form>

		<div ng-messages="contatoForm.nome.$error" ng-show="contatoForm.nome.$dirty">
			<div class="alert alert-danger" ng-message="required">
				Por favor, preencha o nome
			</div>
			<div class="alert alert-danger" ng-message="minlength">
				O campo nome deve ter 10 caracteres
			</div>
		</div>

		<div ng-messages="contatoForm.telefone.$error" ng-show="contatoForm.telefone.$dirty">
			<div class="alert alert-danger" ng-message="required">
				Por favor, preencha o nome e o telefone
			</div>
			<div class="alert alert-danger" ng-message="pattern">
				O telefone deve ter o formato xxxx-xxxx
			</div>
		</div>
		<br>
		<button class="btn btn-primary btn-block" ng-click="addContact(contato)" ng-disabled="contatoForm.$invalid" >Adicionar contato</button>
		<button class="btn btn-danger btn-block" ng-click="apagarContact(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar contato</button>
	</div>
	<div ng-include="'footer.html'" scope="" onload=""></div>
</body>
</html>





























